[Unit]
Description=Polkadot Node

[Service]
User=polkadot
Group=polkadot
ExecStart=/usr/local/bin/polkadot \
  {% if hostvars[inventory_hostname].nodeName is defined and hostvars[inventory_hostname].nodeName|length %}
  --name "{{ project|default('project') }} ॐ {{ hostvars[inventory_hostname].nodeName }}" \
  {% else %}
  --name {{ project|default('project') }}-{{ groups['validator'].index(inventory_hostname) }} \
  {% endif %}
  --validator \
  --public-addr=/ip4/{{ hostvars[inventory_hostname].public_ip.json.ip }}/tcp/{{ proxy_port }} \
  --listen-addr=/ip4/127.0.0.1/tcp/{{ p2p_port }} \
  --rpc-methods=Unsafe \
  --wasm-execution Compiled \
  {% if hostvars[inventory_hostname].bootNodes is defined and hostvars[inventory_hostname].bootNodes|length %}
  --bootnodes "{{ hostvars[inventory_hostname].bootNodes }}" \
  {% endif %}
  {% if hostvars[inventory_hostname].polkadot_additional_common_flags is defined and hostvars[inventory_hostname].polkadot_additional_common_flags|length %}
  {{ hostvars[inventory_hostname].polkadot_additional_common_flags }} \
  {% endif %}
  {% if hostvars[inventory_hostname].polkadot_additional_validator_flags is defined and hostvars[inventory_hostname].polkadot_additional_validator_flags|length %}
  {{ hostvars[inventory_hostname].polkadot_additional_validator_flags }} \
  {% endif %}
  {% if hostvars[inventory_hostname].loggingFilter is defined and hostvars[inventory_hostname].loggingFilter|length %}
  -l{{ hostvars[inventory_hostname].loggingFilter }} \
  {% endif %}
  --chain={{ chain }} \
  {% if hostvars[inventory_hostname].basePath is defined and hostvars[inventory_hostname].basePath|length %}
  --base-path '{{ hostvars[inventory_hostname].basePath }}' \
  {% endif %}
  {% if hostvars[inventory_hostname].telemetryUrl is defined and hostvars[inventory_hostname].telemetryUrl|length %}
  --telemetry-url '{{ hostvars[inventory_hostname].telemetryUrl }} 1'
  {% else %}
  --no-telemetry
  {% endif %}

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
